language: python
python:
  - "3.4"

dist: trusty
sudo: required
before_install:
  - sudo dpkg -l | grep mysql
  - sudo apt-get remove --purge apparmor
  - sudo apt-get remove --purge -y libmysqlclient-dev libmysqlclient18 libqt4-sql-mysql mysql-client-5.6 mysql-client-core-5.6 mysql-common mysql-common-5.6 mysql-server-5.6 mysql-server-core-5.6
  - sudo rm -f /etc/apt/sources.list.d/mysql.list
  - sudo rm -rf /var/lib/mysql
  - sudo rm -rf /etc/mysql
  - sudo apt-get autoremove
  - sudo apt-get autoclean
  - sudo ln -sfn local /usr/os-testr-env

script:
  - bash -x tests/fullstack/fullstack_main.sh

after_success:
  - coveralls

env:
  global:
    - secure: "Q/UbPVphK70wq3U20ywMHEK9c+hwQBdNZzLqDztW66fOhex+tcF3FKXGngqg4Xis8R6AhO/IrsEXF4BJyuF3+Lyn55pNzh91HefgKP5EGGM01ib6llH+FTVFP19W9Q3GLYx60n+TrLa2Hf4V06OjvXzQnwNvyGpl71IMzfFGnPXpEyyaiSrJHfyvbEOGLSWq07+3XIVd/tXNDDhZsC2ydUXYtHYPKZevCREA00RYgUhsONWT+8J9Uw5nefsw96fekRpnP1S8yebfUa+bh7zAmI7Yum0zJJRExCekL7ZOIPhoOzaE0JoUU41yvgKFJuXtvxwzVHpgiU7xDoXFMRibI4fvRiReUQ4Oz/tVxb8hZPfiDF7SHIMvAMRRvn/aydXRTMDKcAi7TpSXfSeEHKgk6JxECHXPSNpaX1g7dWu6ul/UA5Qgv73FQP6WTWKSbYnfir+zGl97Dpdd1agv709+F/376xoo2ytPSfAXFI2tPlUj0cDpTYaKcca4zp18N1HVMMK3kcLwnRPvFIIyS4/MMrk068gCCkueYFjXguf7mOJI3XxvvfFFoc9YfWNn3+7/rWGFxaAaBzEv8wm7J6FqOQRC8/y/2oW/bPyA3+AbBHnKJ2XykiMSTRbvMHM19WuQGSmV4and/4XqZlXNl9wIm9WkoCfBpjx1fNssCo/8LwQ="
    - secure: "BbyOCJhwdRprHOgFCfsiykvc3XxKdrVaURL7QxgoP/qyFvIHZPBoOgeySkFLWHImg4zAK0H/Z8pRogde0vPtOZkKRrKwKtFoWf5RfLhwAGRuTEpNJTOs0qoQWs2iOEr6tj3XTgzp9Tj1u2VKXwU4oULWXO8xE6FrsOT3hi5pUSJGe86mDMFCGbkbSbzVCfRGoOl6epsMYSHfgQh58sIF6X8SAUN8cpu7FzCSQEZKtIPKE15HuB/p63Da8OwWAMlZaSaUuT8vKDrlDdo10mwFajHuXDzXyjiLgANDAwYsbsOKZKl7ks7fttzOCN4Ct43qyyCIqgaYJ8hdp3L++iYd4ZrVaMunSc7Skmll2siMiRY9STxS43LMQP7p/FDPYTjXIMqmnJetVeykeIX49HLq0SDoRV1wlgllqSlyMLda1cVB6f0vTIB67WaDiYa8dUggyfma9ZbZDoimXC6jelBlnJlP3HWtKkDzAww8apC7m+MbAG7TUdTbpFXX33HD4kcly08TiQi3cjlmdo/mXoEzHxSYcT25AGJA0/f1vIZgAAks/khXDPtw2Fy8c+ziZZ9QpRXFnWlMPSlPdTF12p4PC4K6Bwwn40Y8xUZXoCItBDXtN6EHuvDCLPbMIzLP6L0Pq0EEJVJODYPxD1Xz4cp8sjRb8YeVa38eJ7DuX3w5YMM="
